.forecast-summary {
  padding: 10px;
}


.forecast-summary__icon {
  font-size: 90px;
  margin: 20px;
}

.more-details-butt {
  width: 80px;
  height: 40px;
}

@media(max-width: 600px){

  .forecast-summary {
    margin: 20px;
  }
}

